<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags 
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">-->

    <title>Assignment Creation page Template</title>
    
    <!-- Custom styles for this template -->
	<link href="../static/css/base.css" rel="stylesheet">
    
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    
    <style>
   		.center-section {
 			max-width: 600px;
 		}
    </style>



    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UniversiTTP</a>
        </div> <!-- navbar-header end -->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#assignments">Assignments</a></li>
            <li><a href="#grades">Grades</a></li>
            <li class="dropdown">
              <a href="#tools" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Instructor tools <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="assignmentcreation.html">Create Assignment</a></li>
                <li><a href="coursecreation.html">Create Course</a></li>
                <li><a href="studentcreation.html">Create Student</a></li>
              </ul>
          </ul>

            <p class="navbar-text navbar-right">Username
            	&nbsp;<a href="#logout" id="logout">logout</a>
            </p>
        </div><!-- nav-collapse end-->
      </div><!-- container end -->
    </nav>
	<div class="center-section"> <!-- This is where page content will be added -->
		<section>
			<header>
				<h2 class="page-header">Create New Assignment</h2>
				<h4>Course: Web App Development I</h4><br>
			</header>
			<form class="form-horizontal" method="GET" action="#">
				<div class="form-group">
					<label class="control-label pull-left">Assignment Name:</label> 
					<div class="col-xs-4">			
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label pull-left" style="padding-right: 4.2em">Due Date:</label> 
					<div class="col-xs-4">
						<input type="text" class="form-control" placeholder="YYYY/MM/DD">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label pull-left" style="padding-right: 5.6em">Points:</label>
					<div class="col-xs-4">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label pull-left" style="padding-right: 3em">Description:</label>
					<div class="col-xs-8">
					<textarea class="form-control" rows="3"></textarea>
					</div>
				</div><br>
				<input type="button" class="btn btn-default" value="Create">
				
			</form>
		</section>
    </div> <!-- center-section -->

    <footer class="footer">
    		<div class="container">
    			<p class="text-muted">UniversiHTTP</p>
    		</div>
    	</footer>
    <hr>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
     <!--<script src="../../assets/js/docs.min.js"></script>
    IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
