<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags 
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">-->

    <title>Course Grade Report</title>
    
    <!-- Custom styles for this template -->
	<link href="../static/css/base.css" rel="stylesheet">
    
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
    <style>
   		.center-section {
 			max-width: 600px;
 		}
    </style>
  </head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">UniversiTTP</a>
				</div> <!-- navbar-header end -->
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#assignments">Assignments</a></li>
						<li><a href="#grades">Grades</a></li>
						<li class="dropdown">
							<a href="#tools" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Instructor tools <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="assignmentcreation.html">Create Assignment</a></li>
								<li><a href="coursecreation.html">Create Course</a></li>
								<li><a href="studentcreation.html">Create Student</a></li>
							</ul>
					</ul>
					<p class="navbar-text navbar-right">Username
						&nbsp;<a href="#logout" id="logout">logout</a>
					</p>
				</div><!-- .nav-collapse end-->
			</div><!-- container end -->
		</nav>
	
		<section>
			<header>
				<h3 class="page-header">Course: IT 2233-01 Web Application Development I</h3>
				<h4>Instructor: Dr Chris Simmons</h4>
			</header>

		</section>
		<section>
			<table class="table table-condensed" summary="Student Grades">
				<thead>
					<tr>
						<th>Student</th>
						<th>Course Average</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="">John Smith</a></td>
						<td>96.33</td>
					</tr>
					<tr>
						<td><a href="">Jane Doe</a></td>
						<td>95</td>
					</tr>
				</tbody>
			</table>
		</section>
		<footer class="footer">
			<div class="container">
				<p class="text-muted">UniversiHTTP</p>
			</div>
		</footer>
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
     <!--<script src="../../assets/js/docs.min.js"></script>
    IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

	</body>
</html>
