/* This is the Custom styles for pages other than the Log in and Home page*/
/*
html {
	position: relative;
	min-height: 100%;
	/*height: 100%;
}

body {
	/*height: 100%; with same in html makes footer sticky, but has space issue.
	margin-bottom: 60px;
}
*/

#logout{
	color: #ffffff;
}

.center-section {
  max-width: 800px;
  padding: 60px;
  margin: 0 auto;
}

.center-section ul li{
	list-style: none;
	padding: 5px;
}

.center-section ul a{
	color: #6A82CC;
	text-decoration: none;
}

.center-section table a{
	color: #6A82CC;
	text-decoration: none;
}

.selecttable{
	text-align: center;

}

.selecttable th {
	text-align: center;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #515153;
	color: #ffffff;
	text-align: center;
}

.container .text-muted {
	margin: 20px 0;
}
